# .dockerignore https://docs.docker.com/engine/reference/builder/#dockerignore-file
# .dockerignore excludes objects from images during docker build

# Ignore temp directories
*/temp
*/tmp

# Ignore IDE files
.idea
.project
