# Ignore notebook backups
*.ipynb_checkpoints

# Ignore most of the projects folder
projects/*
!/projects/README.md 

# Ignore .gitattributes to prevent git from complaining about nbstripout filter 
.gitattributes

#Ignore user-settings dir
user-settings/